@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* MENU */
header {
    display: block;
    margin: 0px;
    padding: 20px;
    color: #000;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 10;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-family: 'Audiowide','Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1rem;
}

.navbar-links a:hover{
    color: #DF3314;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
}

@media (max-width: 768px) { /* media query: de 768 pixeles hacia abajo */
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 115px;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, transparent 5%, #DF3314 90%);
        text-align: center;
        justify-content: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}